[Desktop Entry]
Encoding=UTF-8
Name=Joplin
Comment=Joplin for Desktop
Exec=/home/{{ username.stdout }}/.joplin/Joplin.AppImage
Icon=/home/{{ username.stdout }}/.joplin/Icon512.png
StartupWMClass=Joplin
Type=Application
Categories=Office;
